/*
######################################
##                                  ##
## Author: Guillaume Lequart        ##
## GitHub: @MaloCoccyx              ##
## Project: BrickBreaker-PureJS     ##
## Created: 02/12/2022              ##
##                                  ##
######################################
*/

/***********/
/* General */
/***********/
/*
main {
    display: flex;
    justify-content: center;
    top: 50px;
}

/********/
/* Game */
/********/

#game-container {
    width: 600px;
    height: 500px;
    position: relative;
    border: 1px solid black;
    overflow: hidden;
}

.ball, .paddle, .brick {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 5px;
    top: 5px;
}

.ball {
    border-radius: 50%;
    background-color: red;
}

.paddle, .brick{
}

.paddle {
    background-color: blue;
    width: 100px;
    top: 475px;
}

.brick {
    background-color: green;
    width: 50px;
}